extends basic.pug

block scripts
    script(src='../static/script.js')
block style 
    style
        include ../static/style.css

block content 
        //- section#about-section
        //- section#about-dancep
        //-     h1 About Dance++ Academy
        section#our-team
            div.header-classes 
                h2 Our Faculty 


            div#team-container 

                div.team-cards
                    div.team-card 
                        img(src='../static/img/download-removebg-preview.png',alt='',class='team')
                    div.team-content 
                        p
                            span.teamname Mr. Sidhhart Khurana 
                        p 
                            span.heading Desig. : 
                            span Director and Owner 
                        p Acheivement : II price in WEBT Trophy 2021
                        p Experience: 3yrs in D+++ aca.
                        p Mobile : 78675645XX

                div.team-cards 
                    div.team-card 
                        img(src='../static/img/images-removebg-preview.png',alt='',class='team')
                    div.team-content 
                        p
                            span.teamname Mr. Yogesh Bansal 
                        p 
                            span.heading Desig. :
                            
                            span  Manager 
                        p   
                            span.heading Acheivement : 
                            span 
                        p 
                            span.heading Experience: 
                            span 5 yrs in management
                        p 
                            span.heading Mobile :
                            span  78656745XX

                div.team-cards 
                    div.team-card 
                        img(src='../static/img/ca4-removebg-preview.png',alt='',class='team')
                    div.team-content 
                        p
                            span.teamname Miss. Hina Soni 
                        p 
                            span.heading Desig. :
                            span Instructor(Masters in R & R) 
                        p 
                            span.heading Acheivement : 
                            span II price in DRONA Trophy 2021
                        p 
                            span.heading Experience: 
                            span 3yrs in D+++ aca.
                        p 
                            span.heading Mobile : 
                            span 78675645XX

                div.team-cards 
                    div.team-card 
                        img(src='../static/img/ca3-removebg-preview.png',alt='',class='team')
                    div.team-content 
                        p
                            span.teamname Mrs. Sunneta Kapoor 
                        p 
                            span.heading Desig. : 
                            span Instructor(Masters in Classical Dance)
                        p 
                            span.heading Acheivement : 
                            span IV price in Surbhi Trophy 2023
                        p 
                            span.heading Experience: 
                            span 1yrs in D+++ aca.
                        p 
                            span.heading Mobile : 
                            span 78234645XX


                div.team-cards 
                    div.team-card 
                        img(src='../static/img/ca2-removebg-preview.png',alt='',class='team')
                    div.team-content 
                        p
                            span.teamname Mr.Monish Sharma 
                        p 
                            span.heading Desig. : 
                            span Instructor(Masters in Salsa) 
                        p 
                            span.heading Acheivement : 
                            span III price in WEBT Trophy 2020
                        p 
                            span.heading Experience: 
                            span 3yrs in Dance Acad.
                        p 
                            span.heading Mobile : 
                            span 78698445XX


                div.team-cards 
                    div.team-card 
                        img(src='../static/img/ca1-removebg-preview.png',alt='',class='team')
                    div.team-content 
                        p
                            span.teamname Mr. Raj Singh 
                        p 
                            span.heading Desig. : 
                            span Instructor (Masters in Hip Hop) 
                        p 
                            span.heading Acheivement : 
                            span I price in DRONA  Trophy 2020
                        p 
                            span.heading Experience: 
                            span 2yrs in AL Acad.
                        p 
                            span.heading Mobile :
                            span 89694645XX