doctype html
html
  head
    title 
      |Dance++ Academy
    style
      include ../static/style.css
  body
    section#intro 
      div Welcome to Dance++ Academy 
      div.div Learn, Walk and Play Dance
    section#mission 
      h2  Our Mission
      div.card
        h3 Dance Perfection
        div.card-box
          div.card-img
            img(src='../static/c3.png').card-img-1
          div.card-content  
            p This is best dance academy forever

      div.card
        h3 W.D.C
        div.card-box
          div.card-img
            img(src='../static/c5.png').card-img1
          div.card-content  
            p This is best dance academy forever

      div.card
        h3 Expert Teaching
        div.card-box
          div.card-img
            img(src='../static/c6.png').card-img1
          div.card-content  
            p This is best dance academy forever

    section#sponsored 
      h2  Our Sponsors 
      div#sponsors 
        img(src='../static/amazon.jpg',alt='sponsors',class='sponsor-logo')
        img(src='../static/facebook-22.png',alt='sponsors',class='sponsor-logo')
        img(src='../static/micro.jpg',alt='sponsors',class='sponsor-logo')
        img(src='../static/fc.jpeg',alt='sponsors',class='sponsor-logo')

    footer#footer 
      |Copyright © 2023 dance+academy.com |  All rights are reserved

    script
      include ../static/script.js